In [1]:
print("Good morning")

Good morning

In [2]:
print("welcome to apssdc")

welcome to apssdc

In [3]:
50

50

In [4]:
a=10
print("A value is :",a)
b=20
print("B value is:",b)
c=a+b
print("Adittion of a and b is:",c)

A value is : 10
B value is: 20
Adittion of a and b is: 30

In [5]:
3453452352352

print(3453452352352)
print("haiii")

36546757

3453452352352
haiii

36546757

In [11]:
"surya"

'surya'

In [1]:
print("hello")

hello

# markdown text
## hello
###### haii

*text*<br>
**data**<br>
***python***

* list
    * sublist1
        * sublist2
            * sublist3

>1.list1<br>
>2.list2<br>
>3.list3

<h1 style="color:red;text-align:center">heading1</h1>
<h3>heading3</h3>
<h6>heading6</h6>
<hr>
<p>cchgvhjgjhggjhgjhgjhghgcgfndgdgfcvbdfgbcbvcfdgf</p>
<ul>
<li>list1</li>
<li>list2</li>
<li>list3</li>
    </ul>
<ol>
<li>list1</li>
<li>list2</li>
<li>list3</li>
</ol>

<table style="border: 2px solid black">
    <tr style="border: 2px solid black">
        <th>sno</th>
        <th>institute name</th>
        <th>Degree</th>
        <th>Passout year</th>
    </tr>
     <tr style="border: 2px solid black">
        <td>1</td>
        <td>Anits college</td>
        <td>B.tech</td>
        <td>2021</td>
    </tr>
    <tr style="border: 2px solid black">
        <td>2</td>
        <td>Sri chaitanya college</td>
        <td>Intermediate</td>
        <td>2017</td>
    </tr>
    <tr style="border: 2px solid black">
        <td>3</td>
        <td>narayana school</td>
        <td>SSC</td>
        <td>2016</td>
    </tr>
</table>

<a href="https://www.google.com/">Search anything in google</a>

<img style="height:200px;width:300px;border:2px solid black;border-radius:50%;box-shadow:4px 5px 6px green;display:block;margin-left:auto" src="s.jpg" alt="picture">

In [12]:
a=10
type(a)
b=22.4
type(b)
print(int(b))
print((float(a)))

22
10.0

In [16]:
type(str(int(float(a))))

str

In [19]:
n1=40
n1
n2=70
n2

70

In [20]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [22]:

d

30

In [23]:
x=y=z=w=d

In [27]:
print(x)
print(y)
print(w)

30
30
30

In [40]:
a=float(input("Enter a value :"))
b=float(input("Enter b value"))
print(type(a))
c=a+b
print("addition of a and b is",c)

Enter a value :20
Enter b value30
<class 'float'>
addition of a and b is 50.0

In [2]:
a=10.5
print(a//2) //floor

5.0

In [3]:
a=10
print(a**2)

100

# conditional statements
    --> To check whether condition is true or false

-->if
-->if-else
-->nested if
-->elif


-->if --- checks for one case

syntax:
    if(condition):
        //statements
        
--->if-else ---- checks for 2 cases
syntax:
if(condition):
    //statements
else:
    //statements
    
---->nested if --- checks the condition in if it is true then go inner if or else or if else

syntax:
if(condition1):
    //statements
    if(condition2):
        //statements
     else:
         //statements
else:
    //statements
    
el-if:---->it checks more number of cases

syntax:
if(condition1):
    //statements
elif(condition2):
    //statements
elif(condition3):
    //statements
    
-------
--------
else:
    //statements

In [1]:
# biggest of two numbers
a=int(input("Enter a value:"))
b=int(input("Enter b value:"))
if(a>b):
    print("a is big")
else:
    print("b is big")

Enter a value:10
Enter b value:20
b is big

In [13]:
# biggest of three numbers
a,b,c=int(input(),)
b=int(input())
c=int(input())
if(a>b and a>c):
    print("{1} is bigger than {0} , {2}".format(a,b,c))
elif(b>c):
    print("{} is bigger than {},{}".format(b,a,c))
else:
    print("{} is bigger than {} , {}".format(c,a,b))

50
30
10
30 is bigger than 50 , 10

In [15]:
# even or odd
a=int(input("Enter the number"))
if(a%2==0):
    print("{} is EVEN".format(a))
else:
    print("{} is ODD".format(a))

Enter the number5
5 is ODD

In [17]:
a=int(input("enter lower boundary number "))
b=int(input("enter upper boundary number "))
c=int(input("enter requir ed number "))
if((c>=a) & (c<=b)):
 print("{} is in range of {} and {}".format(c,a,b))
else:
 print("{} is not in range of {} and {}".format(c,a,b))

enter lower boundary number 10
enter upper boundary number 50
enter required number 30
30 is in range of 10 and 50

In [19]:
y=int(input("enter a year"))
if(y%400==0 or (y%4==0 and y%100!=0)):
    print("{} is a leap year".format(y))
else:
    print("{} is not a leap year".format(y))

enter a year2000
2000 is a leap year

In [20]:
a=int(input("enter a value"))
if(a<=1000):
    print("{} is valid".format(a))
    if(1000%a==0):
        print("{} is a factor".format(a))
else:
    print("{} is not valid".format(a))

enter a value2000
2000 is not valid

In [21]:
n="123"
b=123
if(str(b)==n):
    print("Both are equal")
else:
    print("both are not equal")

Both are equal

for:
    syntax:
    for iterationvariablename in range(start,stop,stepping):

In [34]:
m=int(input())
n=int(input())
for i in range(m,n+1):
    print(i,end=" ")

1
10
1 2 3 4 5 6 7 8 9 10

In [3]:
m=int(input())
n=int(input())
for i in range(n,m-1,-1):
    print(i,end=" ")

1
10
10 9 8 7 6 5 4 3 2 1

In [1]:
m=int(input())
n=int(input())
for i in range(m-1,n+1,2):
    print(i,end=" ")

1
10
0 2 4 6 8 10

In [5]:
m=int(input())
n=int(input())
sum=0
for i in range(m,n+1):
    sum=sum+i
print(sum)

1
10
55

In [6]:
m=int(input())
n=int(input())
sum=count=0
for i in range(m,n+1,2):
    sum=sum+i
    count=count+1
print(sum)
print(count)

0
10
30
6

In [10]:
m=int(input())
n=int(input())
sum=count=0
for i in range(m,n+1):
    if(i%2!=0):
        count=count+1
        sum=sum+i
print(sum)
print(count)

1
5
9
3

In [17]:
sum=0
count=0
n=int(input("enter a value:"))
print("factors of a given number :")
for i in range(1,(n+1//2),1):
    if(n%i==0):
        
        print(i)
        count=count+1
print("count=",count)

enter a value:10
factors of a given number :
1
2
5
count= 3

While:
    syntax:
        intialization
        while(condition):
            //statements
            Incrementation/Decrementation

In [21]:
i=10
while(i>=1):
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [22]:
a=int(input())
p=0
while(a!=0):
    a=a//10
    p=p+1
print(p)

333
3

In [23]:
a=int(input("enter the required number"))
rev=0
while(a!=0):
 temp=a%10
 rev=(rev*10)+temp
 a=a//10
print("{} is the reverse number".format(rev))

enter the required number123
321 is the reverse number

Strings:

s="pythonprogramming"
   0123-------------
                   -2-1

# String slicing

In [7]:
s="pythonprogramming"
print(s[0])
print(s[3])
print(s[-1])
print(s[-6])
print(s[0:6])
print(s[6::])
print(s[0::])
print(s[-1:-11])
print(s[::-1])
print(s[::-2])
print(s[::3])
print(s[::-3])
print(len(s))
print(s[len(s)//2])

p
h
g
a
python
programming
pythonprogramming

gnimmargorpnohtyp
gimropotp
phpgmn
gmrroy
17
o

In [44]:
print(s[-1::-8])

gop

# functions
    syntax:
        def functionname(): # function definition
            //statements
        
        functionname()      # calling function
        
- without arguments and without return values
- with arguments and without return values
- without arguments and with return values
- with arguments and with return values

In [47]:
# without arguments and without return values
def add():
    a=10
    b=20
    sum=a+b
    print(sum)

add()

30

In [48]:
# with arguments and without return values
def add(a,b):
    sum=a+b
    print(sum)
add(10,20)

30

In [49]:
# without arguments and with return values
def add():
    a=10
    b=20
    sum=a+b
    return sum
add()

30

In [50]:
# with arguments and with return values
def add(a,b):
    sum=a+b
    return sum
add(10,20)

30

In [51]:
# revers of a string
def palin(s):
    a=s[::-1]
    if(a==s):
        return True
    else:
        return False
palin("python")

False

In [53]:
n=int(input())
print(len(str(n)))

547823649326498
15

In [54]:
def fact():
    a=int(input("enter a number"))
    f=1
    for i in range(1,a+1):
        f=f*i
    return f
fact()

enter a number5

120

In [1]:
def factorialrec(n):
    if n>1:
        return(n*factorialrec(n-1))
    else:
        return 1
factorialrec(int(input()))

5

120

In [2]:
print(dir(str),end="")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [15]:
s="surya"
n=s.capitalize()
print(n.casefold())
print(s.islower())
print(s.isupper())
n=s.upper()
print(n.isupper())
print(s.istitle())

surya
True
False
True
False

In [19]:
s="This is surya"
print(s.title())
print(s.startswith("T"))
print(s.endswith("a"))
print(s.startswith("t"))
print(s.endswith("A"))

This Is Surya
True
True
False
False

In [21]:
s="surya"
s.center(20)

'       surya        '

In [23]:
s="surya"
s.center(20,'@')

'@@@@@@@surya@@@@@@@@'

In [33]:
s="haaiiiiaaa"
print(s.count("a",0,10))
print(s.encode())

5
b'haaiiiiaaa'

In [34]:
s="h\te\tl\tl\to"
s.expandtabs()

'h       e       l       l       o'

In [110]:
s="asurya"
print(s.find("a"))
print(s.find("a",3,6))
print(s.find("z"))
print(s.rfind("a",3,6))
print(s.index("a"))
print(s.index("a",3,6))
#print(s.index("z"))
print(s.rindex("a"))

0
5
-1
5
0
5
5

In [61]:
h="This is {name} and i am {age} years old".format(name="surya",age="25")
s="This is {} and i am {} years old".format("surya","25")
k="This is {1} and i am {0} years old".format("surya","25")

print(h)
print(s)
print(k)

This is surya and i am 25 years old
This is surya and i am 25 years old
This is 25 and i am surya years old

In [3]:
a=10
b=20
c=a+b
print("add of %d and %d is %d"%(a,b,c))

add of 10 and 20 is 30

In [65]:
s="surya0@/n"
print(s.isprintable())

True

In [71]:
s="surya"
print(s.isalnum())
print(s.isdigit())
print(s.isalpha())

True
False
True

In [75]:
s="123"
print(s.isdigit())
print(s.isdecimal())
print(s.isnumeric())

True
True
True

In [84]:
c='\u00B2' # unicode
print(c.isdecimal())
print(c.isdigit())
# print(s.isnumeric())

False
True

In [83]:
c='\u00BD' #unicode
print(c.isdecimal())
print(c.isdigit())
print(s.isnumeric())

False
False
True

In [86]:
sp="hsgfjsd"
sp.isspace()

False

In [87]:
sp=" "
sp.isspace()

True

In [91]:
st="      surya     "
print(st.strip())
st.rstrip()
st.lstrip()

surya

'surya     '

In [94]:
s="This is surya"
s.partition("This")

('', 'This', ' is surya')

In [95]:
s="This is surya and this is venkat"
s.rpartition("is")

('This is surya and this ', 'is', ' venkat')

In [96]:
s="This is surya"
s.replace("surya","venkat")

'This is venkat'

In [108]:
s="haii haii haii how are you"
s.replace("haii","hello",2)

'hello hello haii how are you'

In [111]:
s="SuRyA"
s.swapcase()

'sUrYa'

In [2]:
s="surya"
print(s.rjust(23))
print(s.ljust(30))
print(s.zfill(20))

                  surya
surya
000000000000000surya

In [121]:
s="haii students how are you"
s.split("students")

['haii ', ' how are you']

In [122]:
s="haii students how are you"
s.partition("students")

('haii ', 'students', ' how are you')

In [124]:
s="haii students how\n are you"
s.splitlines()

['haii students how', ' are you']

In [125]:
s="haii students how\n are you"
s.splitlines(True)

['haii students how\n', ' are you']

In [126]:
s="haii students how are you"
s2=s.split("students")
s3="friends".join(s2)
print(s3)

haii friends how are you

In [ ]:
# Datastructues
    Collection of multiple data
    - list
    - tuple
    - set
    - dictionary

list:
    collection of multiple (or) different data
    
    -It is ordered and indexed
    -mutable-we can change values or elements
    -It allow duplicate values
    -It is repersented using - []

In [10]:
list=[10,20,30,40]
print(list[0:2])
print(list[-1])

[10, 20]
40

In [3]:
list=["surya",20.05,22]
print(list[::-1])
print(list[::2])

[22, 20.05, 'surya']
['surya', 22]

In [14]:
print(dir(list),end="")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [15]:
list1=[10,20,30,40]
list1.append(50)
print(list1)

[10, 20, 30, 40, 50]

In [16]:
list2=[22,33,44,55]
list2.append(list1)
print(list2)

[22, 33, 44, 55, [10, 20, 30, 40, 50]]

In [18]:
l3=[]
print(l3)

[]

In [24]:
l3=list1.copy()
print(l3)

[10, 20, 30, 40, 50]

In [25]:
l3=list2.copy()
print(l3)

[22, 33, 44, 55, [10, 20, 30, 40, 50]]

In [32]:
l4=[1,1,2,3,4,4,4,"surya","surya"]
print(l4.count("surya"))
print(l4.index(4))

2
4

In [33]:
l5=[1,2,3]
l5.insert(2,"surya")
print(l5)

[1, 2, 'surya', 3]

In [6]:
l6=[3,4,5]
l6.remove(4)
print(l6)

[3, 5]

In [35]:
l7=[22,"venkat",2.9,33,44]
l7.reverse()
print(l7)

[44, 33, 2.9, 'venkat', 22]

In [37]:
l7=[22,"venkat",2.9,33,44]
l7.pop()
print(l7)

[22, 'venkat', 2.9, 33]

In [38]:
l7=[22,"venkat",2.9,33,44]
l7.clear()
print(l7)

[]

In [42]:
l8=[1,7,3,5,2,33,9,30.5]
l8.sort()

In [43]:
l8

[1, 2, 3, 5, 7, 9, 30.5, 33]

Tuple:
    collection of multiple data
    
    -ordered and indexed
    -immutable-we cannot change values
    -allow duplicate values
    -It is represented using-()
    
methods:
    index
    count

In [44]:
print(dir(tuple),end="")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [45]:
print(dir(set),end="")

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [57]:
s=(1,2,3,4,4,'e',4)
s

(1, 2, 3, 4, 4, 'e', 4)

In [58]:
del(s)

In [59]:
s

NameError: name 's' is not defined

In [ ]:
#sets
- sets is also collection of different datatypes
- it is represented {}
- it does not allow duplicates
- it does not follow order
- it is mutable

In [69]:
s1={1,2,3.4,'st1',5,'str2',1,1,1}
print(s1)
s1

{1, 2, 3.4, 'st1', 5, 'str2'}

{1, 2, 3.4, 5, 'st1', 'str2'}

In [ ]:
# li=[1,2,3,7,7,7,9,9,9]

In [9]:
li=[1,2,3,7,7,7,9,9,9]
# li=[input()]
li.sort()
a=li[8]
b=li.index(a)
li[b-1]

7

In [84]:
li=[1,2,3,7,7,7,9,9,9]
el=[]
for i in li:
    if i not in el:
        el.append(i)
print(el[-2])

## li=[1,3,4,'a','b','c'] # avg

7

In [96]:
li=[1,3,4,'a','b','c']
s=c=0
for i in li:
    if type(i)==int:
        s=s+i
        c=c+1
print(s/c)

2.6666666666666665

In [102]:
li=[1,3,4,'a','b','c']
li=str(li)
s=c=0
for i in li:
    if i.isdigit():
        s=s+int(i)
        c=c+1
print(s/c)

2.6666666666666665

In [121]:
s1='A N I T S C O L L E G E'
#  egellocstinA
s1=s1.capitalize()
#s1=s1[-1::-2]
#l=len(s1)
s1[::-1].replace(' ','')

'egellocstinA'

In [101]:
1+'1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##  Operators
- Arthematic operator (+,-,*,/,//,%,**)
- Assaignment operator(=,+=,-=,*=,/=,//=,**=,%=)
- Relational operator(==,<=,>=,<,>)
- Bitwise (~,&,|,>>,<<)
- logical (and,or,not)
- Membership (in,not in)
- indentity operator(is,is not)

In [78]:
import keyword
print(keyword.kwlist,end="")

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']