Dictionaries:
    - Collection of multiple data
    - mutable- which is changable
    - indexed but it unordered
    - It is represented using {}
    - Data Stored in the format of keys and v
      values

In [ ]:
# while assigning values adress will be stored and then values stored
# copy() - values will be stored not addresses

In [77]:
d = {
    "name":"surya",
    "age":25,
    "place":"vendra"
}
print(d)

{'name': 'surya', 'age': 25, 'place': 'vendra'}

In [55]:
thisdict = {"name":"surya","age":25,"place":"vendra"}
print(thisdict)

{'name': 'surya', 'age': 25, 'place': 'vendra'}

In [56]:
print(thisdict["name"])
print(thisdict["age"])
print(thisdict.get("name"))

surya
25
surya

In [57]:
d["name"]="venkat"
d

{'name': 'venkat', 'age': 25, 'place': 'vendra'}

In [58]:
for x in d:
    print(x)

name
age
place

In [59]:
for x in d:
    print(d[x])

venkat
25
vendra

In [60]:
print(d["name"])

venkat

In [61]:
for x in d.values():
    print(x)

venkat
25
vendra

In [62]:
for x,y in d.items():
    print(x,y)

name venkat
age 25
place vendra

In [63]:
print(len(d))

3

In [64]:
d["color"]="red"

In [65]:
d

{'name': 'venkat', 'age': 25, 'place': 'vendra', 'color': 'red'}

In [66]:
d.pop("color")

'red'

In [76]:

d.popitem() # if popitem() shows error if all the elements are popped
d

KeyError: 'popitem(): dictionary is empty'

In [68]:
d

{'name': 'venkat', 'age': 25}

In [79]:
del d["name"]

In [80]:
del d["svsdsdfsd"]

KeyError: 'svsdsdfsd'

In [71]:
d

{'age': 25}

In [52]:
del d # we can delete entire dictionary by using del

NameError: name 'd' is not defined

In [19]:
thisdict

{'name': 'surya', 'age': 25, 'place': 'vendra'}

In [20]:
thisdict.clear()

In [21]:
thisdict

{}

In [22]:
dict1={"1":"haii","2":"how r u"}
dict1

{'1': 'haii', '2': 'how r u'}

In [23]:
dict2=dict1

In [24]:
dict2

{'1': 'haii', '2': 'how r u'}

In [25]:
dict1["1"]="surya"

In [26]:
dict1

{'1': 'surya', '2': 'how r u'}

In [27]:
dict2

{'1': 'surya', '2': 'how r u'}

In [28]:
mydict=dict2.copy()

In [29]:
mydict

{'1': 'surya', '2': 'how r u'}

In [30]:
my=dict(dict2)

In [31]:
my

{'1': 'surya', '2': 'how r u'}

In [32]:
myfamily={
    "father":{
        "name":"siva",
        "year":1958
    },
    "mother":{
        "name":"nageswari",
        "year":1975
    },
    "sister":{
        "name":"satya",
        "year":1996
    }
}

In [33]:
myfamily

{'father': {'name': 'siva', 'year': 1958},
 'mother': {'name': 'nageswari', 'year': 1975},
 'sister': {'name': 'satya', 'year': 1996}}

In [34]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [35]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [36]:
car={
    "brand":"venkat",
    "model":"3543",
    "great":"hhgf"
}

In [82]:
d1={"1":"surya","2":"venkat"}
d1

{'1': 'surya', '2': 'venkat'}

In [85]:
d1.clear()

In [86]:
d1

{}

In [40]:
d1={"s":"surya","v":"venkat"}
x=d1.copy()
x

{'s': 'surya', 'v': 'venkat'}

In [42]:
x={'key1','key2','key3'}
this=dict.fromkeys(x)
print(this)

{'key3': None, 'key1': None, 'key2': None}

In [41]:
x={'key1','key2','key3'} #keys: Required. An iterable specifying the keys of the new dictionary
y=0 #value: optional

z=dict.fromkeys(x,y)
z

{'key3': 0, 'key1': 0, 'key2': 0}

In [87]:
s={"1":"surya","2":"venkat","3":"narayana",4:25}
s #he get() method returns the value of the item with the specified key.
k=s.get("1")
print(k)

surya

In [88]:
print(s.get("1"))

surya

In [89]:
print(s.get("sdffsdfsd"))

None

In [47]:
print(s.items())

dict_items([('1', 'surya'), ('2', 'venkat'), ('3', 'narayana'), (4, 25)])

In [48]:
a=s.items()
s["year"]=2019
print(a)
print(s)

dict_items([('1', 'surya'), ('2', 'venkat'), ('3', 'narayana'), (4, 25), ('year', 2019)])
{'1': 'surya', '2': 'venkat', '3': 'narayana', 4: 25, 'year': 2019}

In [49]:
print(s.keys())
s["color"]="red"
# print(s.keys())

dict_keys(['1', '2', '3', 4, 'year'])

In [50]:
s.pop("color")
print(s)

{'1': 'surya', '2': 'venkat', '3': 'narayana', 4: 25, 'year': 2019}

In [51]:
s.pop()
print(s)

TypeError: pop expected at least 1 arguments, got 0

In [ ]:
print(s.popitem())

In [90]:
s # The setdefault() method returns the value of the item with the specified key.
 # If the key does not exist, insert the key, with the specified value or default value(none)
s.setdefault("model")
print(s)

{'1': 'surya', '2': 'venkat', '3': 'narayana', 4: 25, 'model': None}

In [93]:
s.setdefault("1")
print(s)

{'1': 'surya', '2': 'venkat', '3': 'narayana', 4: 25, 'model': None, 'color': 'red', 'haii': 'hello'}

In [94]:
s.setdefault("color","red")
print(s)

{'1': 'surya', '2': 'venkat', '3': 'narayana', 4: 25, 'model': None, 'color': 'red', 'haii': 'hello'}

In [95]:
s.update({"haii":"hello"})
print(s) # The update() method inserts the specified items to the dictionary.
    #The specified items can be a dictionary, or an iterable object.

{'1': 'surya', '2': 'venkat', '3': 'narayana', 4: 25, 'model': None, 'color': 'red', 'haii': 'hello'}

In [96]:
print(s.values())

dict_values(['surya', 'venkat', 'narayana', 25, None, 'red', 'hello'])