conditions statements:<br>
-->To check whether given conditions is true or false
->if --->checks for single case
    syntax:
    if(condition):   ---->checks for single case<br>
        //statements
-> if-else: ---->checks for 2 cases
       syntax:
       if(condition):
           //statements
       else:
           //statements
-> nested if ----> If first condition is true it checks inner of if or if-else or it return the else part
       syntax:
       if(condition1):
           //statements
           if(condition2):
               //statements
           else:
               //statements
        else:
            //statements
            
-> elif: ------>It checks n number of cases
        syntax:
        if(condition1):
            //statements
        elif(condition2):
            //statements
        elif(condition3):
            //statements

In [21]:
# The biggest of two numbers
a=20
b=10
if a>b:
    print("a is big number")
else:
    print("b is big number")

a is big number

In [22]:
# biggest of three numbers
a=20
b=40
c=30
if(a>b and a>c):
    print("{} is big".format(a))
elif(b>c):
    print("{} is big".format(b))
else:
    print("{} is big".format(c))

40 is big

In [ ]:
# even or odd
n=int(input())
if(n%2==0):
    print("{} is even number.".format(n))
else:
    print("{} is odd number.".format(n))

In [ ]:
# checks given number leap year or not
year=int(input("Enter a year :"))
if(year%400==0 or (year%100!=0 and year%4==0)):
    print("{} is leap year".format(year))
else:
    print("{} is not a leap year".format(year))

In [ ]:
# Check if a number exists in a given range(inclusive)
n=12
lb=1
ub=100
if n>lb and n<ub:
    print("{} in given range".format(n))
else:
    print("not in given range")

In [ ]:
# Check if a number is a multiple of 10
n1=int(input())
if n1 % 10 == 0:
    print(n1, "is a multiple of 10")
else:
    print(n1, "is not a multiple of 10")

In [ ]:
# Calculate the number of nano seconds in a given year
year = 2016
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
    print(366 * 24 * 60 * 60 * (10**9))
else:
    print(365 * 24 * 60 * 60 * (10**9))

In [ ]:
# Check if given string is equal to a number
s1 = "123"
n1 = 123
if str(n1) == s1:
    print(n1, "is equal to", s1)
else:
    print(n1, "is not equal to", s1)

In [ ]:
# if the given no is  a factor of 1000
n=int(input("enter a num: "))
if n<=1000:
    if 1000%n==0:
        print(n,"is factor of 1000")
    else :
        print(n,"not a factor of 1000")
else:
    print(n,"is out of range")

In [ ]:
# loops
syntax:
    
  for itervarname in range(start,stop,stepping):
       #stmnts

In [ ]:
a=10
b=20
print("sum of %d and %d is:%d"%(a,b,a+b))

In [ ]:
n=int(input())
for i in range(n):
    print(i,end=" ")

In [ ]:
### Forward order of natural numbers
n=int(input())
m=int(input())
for i in range(n,m):
    print(i,end=" ")

In [2]:
### Reverse order of natural numbers
n=int(input())
m=int(input())
for i in range(m,n-1,-1): # here starting is m and ending is n-1
    print(i,end=" ")

1
20
20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [3]:
for x in range(10,0,-1):
    print(x,end=" ")

10 9 8 7 6 5 4 3 2 1

In [4]:
for x in range(0,10,2):
    print(x,end=" ")

0 2 4 6 8

In [ ]:
### Natural numbers sum
s = int(input())
e = int(input())
tot=0
for i in range(s,e+1):
    tot+=i
print(tot)

In [ ]:
#even numbers
#even numbers sum
#even number count
sum=0
count=0
n=int(input())
for i in range(1,n+1):
    if i%2==0:
        sum=sum+i
        count=count+1
print(sum)
print(count)

In [ ]:
#odd numbers
#odd numbers sum
#odd number count
sum=0
count=0
n=int(input())
for i in range(1,n+1):
    if i%2!=0:
        sum=sum+i
        count=count+1
print(sum)
print(count)

In [ ]:
"""1.Factors of numbers 

input : 10
output: Factors of number: 1 2 5 10
        Factors count : 4"""

n=int(input())
count=0
for i in range(1,n+1):
    if n%i==0:
        print(i)
        count=count+1
print(count)

In [ ]:
#print table
n=int(input())
for i in range(1,10):
    print(n,"*",i,"=",(n*i))

while

syntax:

    initialization
    while(condition):
        //statements
        incrementation/decrementation

In [ ]:
i=1
while i<=10:
    print(i,end=" ")
    i=i+1

In [ ]:
i=10
while(i>=1):
    print(i,end=' ')
    i=i-1

In [ ]:
n=int(input())
i=1
while(i<=n):
    print(i)
    i=i+1

In [ ]:
while(True):
    a=input()
    if(a=='EXIT'):
        break

In [ ]:
# digit count
# input: 12345
# output : digit count=4
n=int(input())
c=0
while(n>0):
    n=n//10
    c+=1
print("digit count=",c)

In [ ]:
# Reverse of a number

n=int(input())
rev=0
while(n>0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
print("reverse=",rev)

# String slicing

In [28]:
s1="python programming"

s1[0]
s1[1]
s1[len(s1)-1]
s1[-1]
s1[-2]
print(s1[0:2])
print(s1[-2:])
print(s1[4:])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::2])
print(s1[::-2])
print(s1[::-1])
print(s1[-5:-1]) #negative slicing

print(s1[::1])
print(s1[::-1])
print(s1[:-1:]+s1[-1])
print(len(s1))
print(len(s1)//2)
print(s1[len(s1)//2])
print(s1[6:0:-1]+s1[0],s1[7:])

py
ng
on programming
ython programmin
o
pto rgamn
gimropnhy
gnimmargorp nohtyp
mmin
python programming
gnimmargorp nohtyp
python programming
18
9
o
 nohtyp programming

In [73]:
#Function to reverse a string
def reversestring(s):
    return s[::-1]
reversestring("python")

'nohtyp'

In [74]:
#Function to check if a string is a Palindrome
def palindrome(s):
    if s == s[::-1]:
        return True
    else:
        return False
palindrome("madam")

True

In [75]:
#Function to check if a given year is a leap year
def isleapyear(year):
    if(year%400==0 or (year%100!=0 and year%4==0)):
        return True
    return False
isleapyear(2000)

True

In [76]:
# Function to count the number of digits in a given number
def number(n):
    return len(str(n))
number(10)

2

In [77]:
# Function to identify the greatest of 4 numbers
def greatest(n1,n2,n3,n4):
    if n1>n2 and n1>n3 and n1>n4:
        return n1
    elif n2>n3 and n2>n4:
        return n2
    elif n3>n4:
        return n3
    return n4
greatest(1,56,34,22)

56

In [78]:
n=int(input())
if n<=1000:
    if 1000%n==0:
        print(n,"is a factor of 1000")
    else:
        print(n,"not a factor of 1000")
else:
    print(n,"is out of range")

70
70 not a factor of 1000

In [79]:
# Without arguments & without return values 
def add():
    a=10
    b=20
    sum=a+b
    print(sum)
add()

30

In [80]:
# Without arguments & with return Value
def mul():
    a=10
    b=20
    mul=a*b
    return mul
mul()

200

In [81]:
# With arguments & without return values 
def mul(a,b):
    m=a*b
    print(m)
mul(10,20)

200

In [82]:

# With arguments & return values 
def mul(a,b):
    sum=a*b
    return sum
mul(10,20)

200

In [83]:
# find a factorial of a given number
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
factorial(5)

120

In [84]:
#function find the factorial of a given number with recursion
def factorialrec(n):
    if n==1:
        return 1
    else:
        return(n*factorialrec(n-1))
factorialrec(9)

362880

In [85]:
def factorialrec(n):
    if n>1:
        return(n*factorialrec(n-1))
    else:
        return 1
factorialrec(int(input()))

55

12696403353658275925965100847566516959580321051449436762275840000000000000

In [15]:
# find whether the given number is prime or not
def isPrime(n):
    for i in range(2,n):
        if(n%i==0):
            return False
    return True
i = int(input())
isPrime(i)

10

False

In [18]:
# Print even primes between a given range and count total primes
def isEvenprime(n):
    c = 0
    for i in range(1,n+1):
        if(isPrime(i)):
            if(i%2==0):
                c+=1
                print(i)
    print("Total no of even primes :",c)
isEvenprime(100)

2
Total no of even primes : 1

In [19]:
# Print odd primes between a given range and count total primes
def isOddprime(n):
    c = 0
    for i in range(1,n+1):
        if(isPrime(i)):
            if(i%2!=0):
                c+=1
                print(i)
    print("Total No of odd Primes:",c)
isOddprime(10)

1
3
5
7
Total No of odd Primes: 4

In [20]:
# Sum all the even primes and product all the odd primes
def fun(n):
    e=0
    o=1
    for i in range(1,n+1):
        if(isPrime(i)):
            if(i%2==0):
                e = i+e
                print(e)
            else:
                o = i*o
    print(o)
fun(10)

2
105

jumping statements:
    * break
    * continue
    * pass
    * return

In [1]:
# calendar problem
c=1
for i in range(1,6):
    for j in range(1,8):
        if(c>31):
            break
        else:
            print('{:02}'.format(c),end=" ")
            c=c+1
    print(end="\n")

01 02 03 04 05 06 07
08 09 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [2]:
c=1
for i in range(1,7):
    for j in range(1,8):
        if c>31:
            break
        else:
            if c%2==0:
                print("**",end=" ")
            else:
                print("{:02}".format(c),end=" ")
        c=c+1
    print(end="\n")

01 ** 03 ** 05 ** 07
** 09 ** 11 ** 13 **
15 ** 17 ** 19 ** 21
** 23 ** 25 ** 27 **
29 ** 31

In [3]:
c=1
for i in range(1,7):
    for j in range(1,8):
        if c>31:
            break
        else:
            if c%2!=0:
                print("**",end=" ")
            else:
                print("{:02}".format(c),end=" ")
        c=c+1
    print(end="\n")

** 02 ** 04 ** 06 **
08 ** 10 ** 12 ** 14
** 16 ** 18 ** 20 **
22 ** 24 ** 26 ** 28
** 30 **

continue

In [4]:
for i in range(0,11):
    if i==5:
        continue
    print(i,end=" ")

0 1 2 3 4 6 7 8 9 10

In [60]:
print(dir(str),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [61]:
print(n.find("s"))
print(n.find("a"))
print(n.find("a",6,7))
print(n.find("z",6,7))
print(n.index("a",6,7))
# print(n.index("z",6,7))

1
5
6
-1
6

In [12]:
n="asuryaaa"
n=n.capitalize()
print(n)
print(n.casefold())
print(n.center(20))
print(n.center(20,"*"))
c="a"
print(n.count(c))
print(n.count(c,0,8))
print(n.encode())
print(n.endswith("a"))
print(n.endswith("s"))
k="h\te\tl\tl\to"
print(k.expandtabs(20))
print(n.expandtabs(20))
print(n.format())
h="my name is {name} and i am {age} years old".format(name="surya",age=25)
s="my name is {0} and i am {1} years old".format("surya",25)
z="my name is {} and i am {} years old".format("surya",25)
print(h)
print(s)
print(z)
print(s.islower())
print(s.isupper())
print(s.upper())
print(s.lower())
print(s.title())
print(s.startswith("m"))

Asuryaaa
asuryaaa
      Asuryaaa
******Asuryaaa******
3
3
b'Asuryaaa'
True
False
h                   e                   l                   l                   o
Asuryaaa
Asuryaaa
my name is surya and i am 25 years old
my name is surya and i am 25 years old
my name is surya and i am 25 years old
True
False
MY NAME IS SURYA AND I AM 25 YEARS OLD
my name is surya and i am 25 years old
My Name Is Surya And I Am 25 Years Old
True

In [29]:
dt="surya123"
data=dt.isalnum()
print(data)

True

In [30]:
dt="surya"
data=dt.isalnum()
print(data)

True

In [31]:
dt="@3"
data=dt.isalnum()
print(data)

False

In [32]:
dt="hjgjh3"
data=dt.isalpha()
print(data)

False

In [33]:
dt="hjgjh"
data=dt.isalpha()
print(data)

True

In [34]:
dt="hjgjh"
data=dt.isdecimal()
print(data)

False

In [35]:
dt="1233432423423432432"
data=dt.isdecimal()
print(data)

True

In [36]:
a="2257657868"
print(a.isdigit())

True

In [37]:
num="4576567"
print(num.isnumeric())

True

In [38]:
c='\u00B2' #unicode
print(c.isdecimal())
print(c.isdigit())

False
True

In [39]:
c='\u00BD'
print(c.isdecimal())
print(c.isdigit())
print(c.isnumeric())

False
False
True

In [40]:
s="This Is Surya"
print(s.istitle())

True

In [41]:
s="This is Surya"
print(s.istitle())

False

In [42]:
s="hello\nfhggjh#1"
print(s.isprintable())

False

In [43]:
s="This is Surya"
print(s.isprintable())

True

In [44]:
sp=" "
print(sp.isspace())

True

In [45]:
sp=" chgf "
print(sp.isspace())

False

In [46]:
st="    surya     "
st.lstrip()

'surya     '

In [1]:
st="    surya     "
st.strip()

'surya'

In [47]:
st=",,,,,surya     "
st.lstrip()

',,,,,surya     '

In [48]:
st="    surya     "
st.rstrip()

'    surya'

In [49]:
s="This is surya"
s.partition("is")

('Th', 'is', ' is surya')

In [50]:
s="This is surya"
s.partition("venkat")

('This is surya', '', '')

In [51]:
s="This is surya"
s.replace("surya","venkat")

'This is venkat'

In [52]:
s="hai hai hai how are "
s.replace("hai","hello",2)

'hello hello hai how are '

In [53]:
s="ab c ab"
print(s.find("ab"))
print(s.rfind("ab"))
print(s.rfind("cjhvjh"))

0
5
-1

In [4]:
s="i am surya and i am venkat"
print(s.find("am"))
print(s.rfind("am"))
print(len(s))

2
17
26

In [54]:
s="ab c ab"
print(s.index("ab"))
print(s.rindex("ab"))
print(s.rindex("jvhjbkj"))

0
5

ValueError: substring not found

In [55]:
s="xgffhDHGFHGcgvg"
print(s.swapcase())

XGFFHdhgfhgCGVG

In [56]:
s="surya"
s.rjust(20)

'               surya'

In [57]:
s="surya"
s.ljust(20)

'surya               '

In [58]:
a="haii"
a.zfill(20)

'0000000000000000haii'

In [62]:
s="haii fiends how are you"
s.partition("haii")  # data stored in tuple and it returns 3 tuple values and partition string as center

('', 'haii', ' fiends how are you')

In [63]:
s="haii friends how are you"
s.split("friends")

['haii ', ' how are you']

In [64]:
d="surya is good boy and venkat is bad boy"
d.partition("is")    # here based on first occurence partition is done

('surya ', 'is', ' good boy and venkat is bad boy')

In [65]:
d="surya is good boy and venkat is bad boy"
d.rpartition("is")

('surya is good boy and venkat ', 'is', ' bad boy')

In [66]:
d="surya is good boy and venkat is bad boy"
d.split("is") # here whenever string comes split is to done

['surya ', ' good boy and venkat ', ' bad boy']

In [67]:
d="surya is good boy and venkat is bad boy"
d.rsplit("is") # here whenever string comes split is to done

['surya ', ' good boy and venkat ', ' bad boy']

In [68]:
d="surya is good boy\n and venkat is bad boy"
d.splitlines()

['surya is good boy', ' and venkat is bad boy']

In [69]:
d="surya is good boy\n and venkat is bad boy"
d.splitlines(True)

['surya is good boy\n', ' and venkat is bad boy']

In [70]:
d="surya is good boy and venkat is bad boy"
s2=d.split("is") # here whenever string comes split is to done
s3="has".join(s2)
s3

'surya has good boy and venkat has bad boy'

In [71]:
s="fgdgdrgrgrdgre\t"# if you printable letter it is printed and if you use \n and \t then it is not printable it returns false
print(s.isprintable())

False

In [6]:
# list

In [94]:
# print second largest element in the list
li=[1,2,3,4,44,44,4,22,5,6]
li.sort()
nli=[]
for i in li:
    if i not in nli:
        nli.append(i)
print(nli[-2])

22

In [5]:
# find average of the list
li=[1,3,4,'a','b','c']
li=str(li)
s=0
c=0
for i in li:
    if i.isdigit():
        s=s+int(i)
        c=c+1
print(s/c)

2.6666666666666665

In [102]:
li=[1,3,4,'a','b','c']
s=c=0
for i in li:
    if type(i)==int:
        s=s+i
        c=c+1
print(s/c)

2.6666666666666665

In [107]:
s1='A N I T S C O L L E G E'
# egellocstinA
s1=s1.capitalize()
s1[::-1].replace(" ","")

'egellocstinA'

Set:
    Denotes with {,}
    unordered Data structure
        Doesnt have index
    Mutable(Ability to manipulate)
    Doesn't allow duplicate values

In [2]:
s={}
s

{}

In [3]:
s={1:"surya",2:"venkat"}
type(s)

dict

In [4]:
s={1,2,3,"surya","venkat"}
s

{1, 2, 3, 'surya', 'venkat'}

In [5]:
print(dir(set),end=" ")

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [6]:
s1={1,2,3,4,4,5,7}
s1.add(8)
s1

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
l1=[1,2,3,4,4,4,5,"surya"]
l1

In [ ]:
l1=set(l1)
l1

In [ ]:
l2=l1.copy()

In [ ]:
l2

In [ ]:
l3=l2
l3

In [ ]:
s1={1,2,3,4,5,6,7,8}
s2={1,2,3,4,5,6}
s1.difference(s2)

In [ ]:
s1

In [ ]:
s1.difference_update(s2)
s1

In [ ]:
s1

In [ ]:
s2.discard(3)
s2

In [ ]:
s2.discard(22)
s2

In [ ]:
s2.remove(5)
s2

In [ ]:
s2.remove(5)
s2

In [ ]:
s1={1,2,3,4,5,6}
s2={1,2,3,7,8,9}
s3=s1.intersection(s2)
s3

In [ ]:
s1={1,2,3,4,5,6}
s2={1,2,3,7,8,9}
s1.intersection_update(s2)
s1

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1={1,2,3,4}
s2={5}
s1.isdisjoint(s2)

In [ ]:
s1={1,2,3,4}
s2={1,2,5}
s1.isdisjoint(s2)

In [ ]:
s1={1,2,3,4}
s2={1,2,3}
s2.issubset(s1)

In [ ]:
s1={1,2,3,4}
s2={1,2,3,4,5}
s1.issuperset(s2)

In [ ]:
s1={1,2,3,4,5}
s2={1,2,3,4}
s1.issuperset(s2)

In [ ]:
s1.pop()

In [ ]:
s1.add(1)

In [ ]:
s1

In [ ]:
s1={1,2,3,4}
s2={1,2,3,4,5}
s1.symmetric_difference_update(s2)
s1

In [ ]:
print(s1)
print(s2)

In [ ]:
s2={1,2,3,4}
s3={5,6,7,8}
s2.union(s3)
#print(s2)
#print(s3)

In [ ]:
s2

In [ ]:
s2.update([5,6,7,8])

In [ ]:
s2

In [ ]:
s2.update({5,6,7,8})
s2

In [ ]:
s4={21,22,23,3,4,5}
s5={20,22,33,31}
s4.symmetric_difference_update(s5)
s4

Dictionary:
    -dict(), (keys:value) -> items()
    -example: s={'name':'surya','age':25,'sal':3400}
    -ss={'name':['rajesh','suresh']}

In [ ]:
s={'name':'surya','age':25,'sal':2500}
s

In [ ]:
print(s['name'])

In [ ]:
s.keys()

In [ ]:
s.values()

In [ ]:
for i in s.keys():
    print(i,end=" ")

In [ ]:
for i in s.values():
    print(i,end=" ")

In [ ]:
s.items()

In [ ]:
for i in s.items():
    print(i)

In [ ]:
s.update({'sub':['maths','social','english']})
s

In [ ]:
print(s)

In [ ]:
s.get('sal')

In [ ]:
s.get('sub')

In [ ]:
s.pop('name')

In [ ]:
s

In [ ]:
s1=s.copy()
print(s1)

In [ ]:
s.popitem()

In [ ]:
s1.setdefault('sal')

In [ ]:
s1

In [ ]:
s1.setdefault('haii','hello')

In [ ]:
s1

In [ ]:
s1.popitem()

In [ ]:
dict={'a':2,'b':'haii','c':'hello'}

In [ ]:
print(dict.fromkeys('b'))

In [ ]:
dict

In [ ]:
s1