In [ ]:
# Dictonary
     - accept multiple data
     - ordered and unindexed
     - does not allow duplicate values
     - It is represented using {}
     - data stored in the form of keys and values
     - mutable- change values

In [2]:
d={}
print(type(d))

<class 'dict'>

In [3]:
d=set()
print(type(d))

<class 'set'>

In [65]:
s={
    "1":"narla",
    "2":"venkata",
    "3":"surya",
    "4":"narayana"
}
print(s)

{'1': 'narla', '2': 'venkata', '3': 'surya', '4': 'narayana'}

In [14]:
s={
    1:"narla",2:"venkata",3:"surya","four":"narayana"
}
print(s)

{1: 'narla', 2: 'venkata', 3: 'surya', 'four': 'narayana'}

In [15]:
s[3]

'surya'

In [17]:
s["four"]

'narayana'

In [9]:
print(dir(s))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [18]:
s

{1: 'narla', 2: 'venkata', 3: 'surya', 'four': 'narayana'}

In [20]:
s[2]="veera"
s

{1: 'narla', 2: 'veera', 3: 'surya', 'four': 'narayana'}

In [21]:
s2=s.copy()
print(s2)

{1: 'narla', 2: 'veera', 3: 'surya', 'four': 'narayana'}

In [24]:
s3={4:"dfsdf",5:"dfsdfsdf"}
s3=s2.copy()
print(s3)

{1: 'narla', 2: 'veera', 3: 'surya', 'four': 'narayana'}

In [34]:
a="data"
print(dict.fromkeys(s,a))

{1: 'data', 2: 'data', 3: 'data', 'four': 'data'}

In [36]:
print(s.get(1))

narla

In [37]:
print(s.get(3))

surya

In [38]:
print(s.keys())

dict_keys([1, 2, 3, 'four'])

In [39]:
print(s.items())

dict_items([(1, 'narla'), (2, 'veera'), (3, 'surya'), ('four', 'narayana')])

In [42]:
print(s.values())

dict_values(['narla', 'veera', 'surya', 'narayana'])

In [53]:
for i in s:
    print(s[i])

narla
veera
surya
narayana

In [58]:
for i in s.values():
    print(i)

narla
veera
surya
narayana

In [59]:
for i in s.items():
    print(i)

(1, 'narla')
(2, 'veera')
(3, 'surya')
('four', 'narayana')

In [60]:
for i in s.keys():
    print(i)

1
2
3
four

In [61]:
print(s.pop("four"))

narayana

In [62]:
s

{1: 'narla', 2: 'veera', 3: 'surya'}

In [66]:
print(s.popitem())
s

('4', 'narayana')

{'1': 'narla', '2': 'venkata', '3': 'surya'}

In [67]:
print(s['3'])

surya

In [68]:
s['3']="hello"

In [69]:
print(s)

{'1': 'narla', '2': 'venkata', '3': 'hello'}

In [82]:
s={1:"a",2:"b",3:"c"}
s

{1: 'a', 2: 'b', 3: 'c'}

In [83]:
c=s # here memory addresses store if one of the dictionary values automatically the other dictionary also changed

In [85]:
c

{1: 'a', 2: 'b', 3: 'c'}

In [86]:
c[1]='one'

In [87]:
c

{1: 'one', 2: 'b', 3: 'c'}

In [88]:
s

{1: 'one', 2: 'b', 3: 'c'}

In [89]:
d=s.copy() # copy create new address and here two variables with two different addresses

In [90]:
d

{1: 'one', 2: 'b', 3: 'c'}

In [91]:
d[1]="tyh"

In [92]:
d

{1: 'tyh', 2: 'b', 3: 'c'}

In [93]:
s

{1: 'one', 2: 'b', 3: 'c'}

In [95]:
print(s.setdefault("model"))
s

None

{1: 'one', 2: 'b', 3: 'c', 'model': None}

In [97]:
s.setdefault(1)

'one'

In [98]:
s

{1: 'one', 2: 'b', 3: 'c', 'model': None}

In [101]:
print(s3.update(s))

None

In [102]:
print(s3)

{1: 'one', 2: 'b', 3: 'c', 'four': 'narayana', 'model': None}

In [105]:
s7={"5":"hello"}
s7.update(s3)
print(s7)

{'5': 'hello', 1: 'one', 2: 'b', 3: 'c', 'four': 'narayana', 'model': None}

In [106]:
print(s3)

{1: 'one', 2: 'b', 3: 'c', 'four': 'narayana', 'model': None}

In [108]:
s7.update({"haii","hello"})
print(s7)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [4]:
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("added successfully")
    else:
        print("already exist")
addcontact("surya",57868789)
addcontact("venkat",87687687)
addcontact("surya",57868789)

added successfully
added successfully
already exist

In [2]:
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("added succcessfully")
    else:
        print("already exist")
n=int(input())
for i in range(n):
    a=input().split()
    b=a[0]
    c=a[1]
addcontact(b,c)

2
surya 76576567
venkat 9798798789
added succcessfully

In [5]:
def searchcontact(name):
    if name in contacts:
        print(contacts[name])
        print("number is find")
    else:
        print("number not found")
searchcontact(input())

surya
57868789
number is find

In [6]:
def deletecontact(name):
    if name in contacts:
        contacts.pop(name)
        print("deleted contact")
    else:
        print("contact does not exist")
deletecontact(input())

surya
deleted contact