Dictionaries:
    - Collection of multiple data
    - mutable- which is changable
    - indexed but it unordered
    - It is represented using {}
    - Data Stored in the format of keys and v
      values

In [6]:
d = {
    "name":"surya",
    "age":25,
    "place":"vendra"
}
print(d)

{'name': 'surya', 'age': 25, 'place': 'vendra'}

In [7]:
thisdict = {"name":"surya","age":25,"place":"vendra"}
print(thisdict)

{'name': 'surya', 'age': 25, 'place': 'vendra'}

In [8]:
print(thisdict["name"])
print(thisdict["age"])
print(thisdict.get("name"))

surya
25
surya

In [11]:
d["name"]="venkat"
d

{'name': 'venkat', 'age': 25, 'place': 'vendra'}

In [13]:
for x in d:
    print(x)

name
age
place

In [14]:
for x in d:
    print(d[x])

venkat
25
vendra

In [16]:
print(d["name"])

venkat

In [17]:
for x in d.values():
    print(x)

venkat
25
vendra

In [18]:
for x,y in d.items():
    print(x,y)

name venkat
age 25
place vendra

In [19]:
print(len(d))

3

In [20]:
d["color"]="red"

In [21]:
d

{'name': 'venkat', 'age': 25, 'place': 'vendra', 'color': 'red'}

In [23]:
d.pop("color")

'red'

In [24]:
d

{'name': 'venkat', 'age': 25, 'place': 'vendra'}

In [25]:
d.popitem()

('place', 'vendra')

In [26]:
d

{'name': 'venkat', 'age': 25}

In [27]:
del d["name"]

In [28]:
d

{'age': 25}

In [29]:
del d

In [31]:
thisdict

{'name': 'surya', 'age': 25, 'place': 'vendra'}

In [32]:
thisdict.clear()

In [33]:
thisdict

{}

In [34]:
dict1={"1":"haii","2":"how r u"}
dict1

{'1': 'haii', '2': 'how r u'}

In [35]:
dict2=dict1

In [36]:
dict2

{'1': 'haii', '2': 'how r u'}

In [37]:
dict1["1"]="surya"

In [38]:
dict1

{'1': 'surya', '2': 'how r u'}

In [39]:
dict2

{'1': 'surya', '2': 'how r u'}

In [40]:
mydict=dict2.copy()

In [41]:
mydict

{'1': 'surya', '2': 'how r u'}

In [42]:
my=dict(dict2)

In [43]:
my

{'1': 'surya', '2': 'how r u'}

In [44]:
myfamily={
    "father":{
        "name":"siva",
        "year":1958
    },
    "mother":{
        "name":"nageswari",
        "year":1975
    },
    "sister":{
        "name":"satya",
        "year":1996
    }
}

In [45]:
myfamily

{'father': {'name': 'siva', 'year': 1958},
 'mother': {'name': 'nageswari', 'year': 1975},
 'sister': {'name': 'satya', 'year': 1996}}

In [46]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [47]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [48]:
car={
    "brand":"venkat",
    "model":"3543",
    "great":"hhgf"
}

{'brand': 'venkat', 'model': '3543', 'great': 'hhgf'}

In [1]:
d1={"1":"surya","2":"venkat"}

In [2]:
d1.clear()

In [3]:
d1

{}

In [6]:
d1={"s":"surya","v":"venkat"}
x=d1.copy()
x

{'s': 'surya', 'v': 'venkat'}

In [10]:
x={'key1','key2','key3'} #keys: Required. An iterable specifying the keys of the new dictionary
y=0 #value: optional

z=dict.fromkeys(x,y)
z

{'key2': 0, 'key1': 0, 'key3': 0}

In [11]:
x={'key1','key2','key3'}
this=dict.fromkeys(x)
print(this)

{'key2': None, 'key1': None, 'key3': None}

In [14]:
s={"1":"surya","2":"venkat","3":"narayana",4:25}
s #he get() method returns the value of the item with the specified key.
k=s.get("1")
print(k)

surya

In [20]:
print(s.get("1"))

surya

In [18]:
x=s.get("surya","4324234")
print(x)

4324234

In [19]:
x=s.get("surya")
print(x)

None

In [24]:
print(s.items())

dict_items([('1', 'surya'), ('2', 'venkat'), ('3', 'narayana'), (4, 25)])

In [35]:
a=s.items()
s["year"]=2019
print(a)
print(s)

dict_items([('1', 'surya'), ('2', 'venkat'), ('3', 'narayana'), (4, 25), ('year', 2019), ('color', 'red')])
{'1': 'surya', '2': 'venkat', '3': 'narayana', 4: 25, 'year': 2019, 'color': 'red'}

In [33]:
print(s.keys())
s["color"]="red"
# print(s.keys())

dict_keys(['1', '2', '3', 4, 'year', 'color'])

In [36]:
s.pop("color")
print(s)

{'1': 'surya', '2': 'venkat', '3': 'narayana', 4: 25, 'year': 2019}

In [37]:
s.pop()
print(s)

TypeError: pop expected at least 1 arguments, got 0

In [38]:
print(s.popitem())

('year', 2019)

In [41]:
s # The setdefault() method returns the value of the item with the specified key.
 # If the key does not exist, insert the key, with the specified value or default value(none)
s.setdefault("model")
print(s)

{'1': 'surya', '2': 'venkat', '3': 'narayana', 4: 25, 'model': None}

In [42]:
s.setdefault("color","red")
print(s)

{'1': 'surya', '2': 'venkat', '3': 'narayana', 4: 25, 'model': None, 'color': 'red'}

In [43]:
s.update({"haii":"hello"})
print(s) # The update() method inserts the specified items to the dictionary.
    #The specified items can be a dictionary, or an iterable object.

{'1': 'surya', '2': 'venkat', '3': 'narayana', 4: 25, 'model': None, 'color': 'red', 'haii': 'hello'}

In [45]:
print(s.values())

dict_values(['surya', 'venkat', 'narayana', 25, None, 'red', 'hello'])